<div class="container">
	<div class="eight columns">
		<h3><strong>Add New Party</strong></h3>
		<br>
		<form action="/parties" method="post">
			<p> Last Name of Party: <input name="party[name]"></input></p>
			<p> Table Number: <input name="party[table_num]"></input></p>
			<p> # of Guests: <input name="party[num_guests]"></input></p>
			<p> Paid: <input name="party[paid]"></input></p>
			<br>
		<input type="submit" value="Add New Party"></input>
		</form>
	</div>
</div>