<div class="container">
	<div class="eight columns">
		<h3><strong>Sign Up Form</strong></h3>
		<br>

		<form action="/sessions/newuser" method="post">
  		<input type="text" name="user[username]" placeholder='...username'>
  		<input type="password" name="password" placeholder='...password'>
  		<input type="submit">
		</form>
	</div>
</div>
